body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #644646;
}

#game-container {
  width: 600px;
  height: 400px;
  background-color: #fff;
  border: 2px solid #000;
  position: relative;
}

.ball {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.ball-img {
  max-width: 50px; 
  max-height: 50px; 
}



  
